.comp {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-right: 10%;
}

.panel {
    padding: 5px;
    background-color: #5c77ff;
    width: auto;
    height: auto;
}

.screen {
  font-family: 'Courier New', Courier, monospace;
    font-size: 15px;
    background-color: white;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 250px;
    padding-bottom: 130px;
    width: 300px;
}

.diplay {
    text-align: center;
}

.text {
  border-right: 5px solid;
  white-space: nowrap;
  overflow: hidden;
  width: 28ch;
  animation: typingLoop 7s steps(27) infinite, blink 0.7s step-end infinite;
}

.stand {
    justify-content: center;
    padding-right: 20px;
    padding-top: 40px;
    background-color: #5c77ff;
}

.base {
    padding-right: 60px;
    padding-top: 10px;
    background-color: #5c77ff;
}

@keyframes typingLoop {
  0% { width: 0ch; }
  40% { width: 28ch; }
  60% { width: 28ch; }
  100% { width: 0ch; }
}

@keyframes blink {
  50% { border-color: transparent; }
}

@keyframes clearIn {
  from {
    opacity: 0;
    filter: blur(10px);
  }
  to {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes rToL {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  60% {
    opacity: 1;
    transform: translateX(-5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes lToR {
  0% {
    opacity: 0;
    transform: translateX(-80px);
  }
  60% {
    opacity: 1;
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 499px) {
  .skillSet_lang {
    animation: rToL 1s ease-out forwards;
    animation-timeline: view();
    animation-range: entry 10px cover 50%;
  }

  .hyperButtons,
  .skillSet_boards {
    animation: lToR 1s ease-out forwards;
    animation-timeline: view();
    animation-range: entry 10px cover 50%;
  }
}

@media (max-width: 899px) and (min-height: 1100px) {
  .comp {
    transform: scale(1.35);
  }

  .skillSet_lang {
    animation: rToL 1s ease-out forwards;
    animation-timeline: view();
    animation-range: entry 10px cover 50%;
  }

  .skillSet_boards {
    animation: lToR 1s ease-out forwards;
    animation-timeline: view();
    animation-range: entry 10px cover 50%;
  }
}


.header {
  opacity: 0;
  filter: blur(10px);
  animation: clearIn 1.3s ease-out forwards;
}

.intro-section {
  opacity: 0;
  filter: blur(10px);
  animation: clearIn 1.6s ease-out forwards;
}

footer {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 10px cover 50%;
}