/* setting page defaults*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 40vw;
  font-family: 'Courier New', Courier, monospace;
}



/* header section */

.header { 
    background-color: #F5F5F5;
    opacity: 0.95;
    top: 0;
    z-index: 1000;
    position: fixed;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100vw;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.tabs {
    margin-right: 20px;
    font-size: large;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;

    a {
        color: #6C839D;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

body {
    background-color: #f9f9f9;
}

.separator {
    height: 1px;
    width: 100%;
    background-color: #6C839D;
    margin: 10px;
    margin-bottom: 40px;
    margin-left: 0px;
}

.mhead {
    font-size: 50px;
    font-weight: bold;
}

#name {
    margin-left: 20px;
}

#fname {
    color: black;
}

#lname {
    color: grey;
}

#getInTouch:hover {
    background-color: white;
    color: darkgrey
}

main {
    margin-left: 40px;

    .separator {
        margin-left: -20px;
        margin-top: 50px;
    }
}

.intro-section {
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    margin-left: auto;
}

.intro {
    margin-top: 40px;
    margin-bottom: 40px;
}

.l1 {
    color: grey;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
}

.des {
    font-size: 20px;
}

.break {
    flex-basis: 100%;
}

.hyperButtons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 60px;
    margin-bottom: 40px;
    width: 95%;
    justify-content: left;
}

.hyperBut {
    align-items: left;
    text-decoration: none;
    text-align: center;
    box-shadow: none;
    outline: none;
    border-width: 1px;
    border-style: solid;
    border-color: #6C839D;
    border-radius: 5px;
    font-size: 15px;
    color: #6C839D;
    background-color: white;
    padding: 10px;
    margin: 5px;
    transition: background-color 0.5s ease-in;
}

.hyperBut:hover {
    background-color: #6C839D;
    color: white;
}



/* academics section*/

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    margin-right: 30px;
}

.edu-card {
    flex: 1 0 400px;
    min-width: 380px;
    background-color: #f9f9f9;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 6px 12px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.edu-card ul {
    padding-left: 20px;
}

.edu-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 20px rgba(0,0,0,0.15);
}

.edu-card h3 {
  margin-bottom: 10px;
  color: #333;
}

.edu-card p, .edu-card li {
  color: #555;
  font-size: 0.95rem;
  line-height: 1.5;
}



/* tech stack section*/

.tech_Stack {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    display: flex;
    flex-wrap: wrap;            
    flex-direction: column;
}

#subHead {
    color: #6C839D;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.skillSet_lang {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 20px;

    div {
        background-color: white;
        color: #6C839D;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px;
        height: 60px;
        width: auto;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    div:hover {
        transform: translateY(-5px);
        box-shadow: 0 12px 32px rgba(0, 0, 0, 0.15);
    }
}

.skillSet_boards {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 20px;

    div {
        background-color: white;
        color: #6C839D;
        box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 10px;
        height: 80px;
        width: auto;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    div:hover {
        transform: translateY(-5px);
        box-shadow: 0 12px 32px rgba(0, 0, 0, 0.15);
    }
}



/* contact section */

#contact {
    background-color: #DFDFE2;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 80px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    a:hover {
        margin-bottom: 5px;
    }
}

.Contact {
    background-color: #eceaea;
    width: 100%;
    height: 450px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.getInTouch_desp {
    margin-top: 30px;
    margin-left: 40px;

    h1 {
        font-size: 60px;
    }
}

#location {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    div {
        font-weight: 600;
    }

    img:hover {
        transform: translateY(-5px);
    }
}

.getInTouch {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    align-items: center;
    margin-top: 40px;
    margin-right: 100px;

    #label {
        font-size: 25px;
        color:#3A4454;
    }

    .inpBox {
        width: 300px;
        height: 35px;
        border-color: #6C839D;
        border-radius: 5px;
        border-style: solid;
        padding: 5px;
        font-size: 15px;
        color:#3A4454;
    }

    .inpBox:hover {
        border-color: #3A4454;
    }

    #messageBox {
        resize: vertical;
        height: 100px;
        padding: 5px;  
        word-wrap: break-word;
        overflow-wrap: break-word;  
        white-space: pre-wrap;
        vertical-align: top;
        box-sizing: border-box;
        border-width: 2px;
    }

    input[type="submit"] {
        text-align: center;
        width:300px;
        height: 40px;
        font-size: large;
        border-color: #6C839D;
        background-color: white;
        color: #6C839D;
        border-radius: 5px;
        border-style: solid;
        box-shadow: none;
        outline: none;
        transition: background-color 0.7s ease;
    }

    input[type="submit"]:hover {
        background-color: #6C839D;
        color: white;
    }
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}



/* responsive section code */

/* for tablets*/
@media (max-width: 899px) and (min-height:1100px){
    .header {
        margin-left: 0px;
        flex-direction: column;
        row-gap: 30px;
        justify-content: center;
    }

    .separator {
        margin-top: 150px;
        margin-bottom: 100px;
    }

    .tabs {
        gap: 50px;
    }

    .intro-section {
        margin-top: 15%;
        flex-direction: column;
        row-gap: 50px;
        justify-content: space-evenly;
    }

    #des {
        font-size: 25px;
    }

    .hyperButtons {
        align-items: center;
        justify-content: space-evenly;
    }

    #academic h2 {
        font-size: 50px;
        text-align: center;
        margin-bottom: 40px;
    }

    .Contact {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .getInTouch {
        margin-right: 0px;
        margin-bottom: 30px;
        margin-top: 50px;
    }

    .getInTouch_desp {
        h1 {
            font-size: 35px;
        }
    }

    .skillSet {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}


/* for cell phones*/
@media (max-width: 499px) {
    .header {
        margin-left: 0px;
        flex-direction: column;
        row-gap: 20px;
        justify-content: center;
    }

    .tabs {
        font-size: medium;
        column-gap: 15px;
        text-wrap: wrap;
    }

    .mhead {
        font-size: 30px;
    }

    .intro-section {
        margin-top: 20%;
        flex-direction: column;
        row-gap: 20px;
        justify-content: space-evenly;
    }

    .hyperButtons {
        align-items: center;
    }

    .Contact {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .getInTouch {
        margin-right: 0px;
        margin-bottom: 30px;
        margin-top: 50px;
    }

    .getInTouch_desp {
        h1 {
            font-size: 35px;
        }
    }
}
